<!DOCTYPE html>

<html>
	<head>
		<%- include('partials/head') %>
	</head>

	<body>
		<%- include('partials/navbar')%>


		<form action="http://localhost:3000/api/gerarEmprestimo" method="post">

			<button type="submit" class="btn btn-success">Clique aqui</button>
		</form>
	
	</body>
</html>