<!DOCTYPE html>

<html>
	<head>
		<%- include('partials/head') %>
	</head>

	<body>
		
		<%- include('partials/navbar')%>
		<h1 style="text-align: center;">Meus Empréstimos</h1>
		<%- include('books/book')%>

	</body>
</html>