<!DOCTYPE html>

<html lang="">
	<head>
		<%- include("partials/head") %>
	</head>

	<body>
		<%- include("partials/navbar") %>

		<h1>Aqui é o index.ejs</h1>
		<h3>Rota funcionando para usuários logados</h3> 
		<h4>Testando redirect navbar</h4>

		<%- include("books/home") %>
	</body>
</html>


//include("books/home")
