<!DOCTYPE html>

<html lang="pt-br">
	<head>
		<%- include("partials/head") %>
	</head>

	<body>

		<%- include("partials/navbar") %>
		<h1 style="text-align: center;" class="mt-3">Livros disponíveis</h1>

		<%- include("books/home")%>
	</body>
</html>


