<div class="layout">
	<div class="book">
		<div class="upper-half">
			<img src="imgs/teste.jpeg">
			<div class="information">
				<h3 class="item">Emperor Domination</h3>
				<h3 class="item">Boa pergunta</h3>
				<h3 class="item">01/01/1900</h3>
				<h3 class="item">asdasdkoqpwkd</h3>

				<div class="buttons">
					<a>Empréstimo</a>
					<a>pogsempre</a>
					<a>whatever</a>
				</div>
			</div>
		</div>

		<div class= "bottom-half">
			<div class="sinopse">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut vehicula urna. Sed vehicula felis ac quam efficitur, sed sollicitudin turpis luctus. Duis pulvinar ultricies arcu eget gravida. Phasellus vel quam vitae turpis tempor maximus. Morbi mollis nisl lorem, at euismod nulla rhoncus sed. Nam nec turpis cursus quam gravida accumsan quis sed turpis. In hac habitasse platea dictumst. Nullam aliquet, nulla in volutpat vestibulum, lacus purus mattis urna, a accumsan enim ex ut dolor. Nullam scelerisque fringilla dignissim. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
			</div>
		</div>
	</div>

	<div class="book">
		<div class="upper-half">
			<img>
			<div>
				<h3>titulo</h3>
				<h3>autor</h3>
				<h3>data</h3>
				<h3>asdqwdw</h3>
			</div>
		</div>

		<div class= "bottom-half">
			<div class="buttons">
				<a>Empréstimo</a>
				<a>pogsempre</a>
				<a>whatever</a>
			</div>

			<div class="sinopse">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut vehicula urna. Sed vehicula felis ac quam efficitur, sed sollicitudin turpis luctus. Duis pulvinar ultricies arcu eget gravida. Phasellus vel quam vitae turpis tempor maximus. Morbi mollis nisl lorem, at euismod nulla rhoncus sed. Nam nec turpis cursus quam gravida accumsan quis sed turpis. In hac habitasse platea dictumst. Nullam aliquet, nulla in volutpat vestibulum, lacus purus mattis urna, a accumsan enim ex ut dolor. Nullam scelerisque fringilla dignissim. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
			</div>
		</div>
	</div>

	<div class="book">
		<div class="upper-half">
			<img src="imgs/teste.jpeg">
			<div>
				<h3>Emperor Domination</h3>
				<h3>Boa pergunta</h3>
				<h3>01/01/1900</h3>
				<h3>asdasdkoqpwkd</h3>
			</div>
		</div>

		<div class= "bottom-half">
			<div class="buttons">
				<a>Empréstimo</a>
				<a>pogsempre</a>
				<a>whatever</a>
			</div>

			<div class="sinopse">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut vehicula urna. Sed vehicula felis ac quam efficitur, sed sollicitudin turpis luctus. Duis pulvinar ultricies arcu eget gravida. Phasellus vel quam vitae turpis tempor maximus. Morbi mollis nisl lorem, at euismod nulla rhoncus sed. Nam nec turpis cursus quam gravida accumsan quis sed turpis. In hac habitasse platea dictumst. Nullam aliquet, nulla in volutpat vestibulum, lacus purus mattis urna, a accumsan enim ex ut dolor. Nullam scelerisque fringilla dignissim. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
			</div>
		</div>
	</div>

	<div class="book">
		<div class="upper-half">
			<img src="imgs/teste.jpeg">
			<div>
				<h3>Emperor Domination</h3>
				<h3>Boa pergunta</h3>
				<h3>01/01/1900</h3>
				<h3>asdasdkoqpwkd</h3>
			</div>
		</div>

		<div class= "bottom-half">
			<div class="buttons">
				<a>Empréstimo</a>
				<a>pogsempre</a>
				<a>whatever</a>
			</div>

			<div class="sinopse">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut vehicula urna. Sed vehicula felis ac quam efficitur, sed sollicitudin turpis luctus. Duis pulvinar ultricies arcu eget gravida. Phasellus vel quam vitae turpis tempor maximus. Morbi mollis nisl lorem, at euismod nulla rhoncus sed. Nam nec turpis cursus quam gravida accumsan quis sed turpis. In hac habitasse platea dictumst. Nullam aliquet, nulla in volutpat vestibulum, lacus purus mattis urna, a accumsan enim ex ut dolor. Nullam scelerisque fringilla dignissim. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
			</div>
		</div>
	</div>

</div>
