<div class="col-md-6 mx-auto mb-5">
	<form>
		<div class="form-group">
			<label for="inputEmail">Email</label>
			<input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email">
		</div>
		<div class="form-group">
			<label for="inputPassword">Senha</label>
			<input type="password" class="form-control" id="inputPassword" placeholder="Password">
		</div>
		<div class="form-group">
			<label for="confirmPassword">Confirme sua senha</label>
			<input type="password" class="form-control" id="confirmPassword" placeholder="Password">
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-primary">Entrar</button>
		</div>
	</form>
</div>
